<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.sweater.model.dao.MessageDao">
	<select id="selectAll" resultType="Message" parameterType="string">
		SELECT *
		FROM message
		WHERE receiver = #{nickname}
	</select>
	
	<select id="selectOne" resultType="Message" parameterType="int">
		SELECT *
		FROM message
		WHERE message_id = #{messageId}
	</select>
	
	<delete id="remove" parameterType="int">
		DELETE
		FROM message
		WHERE messageId = #{messageId}"
	</delete>
</mapper>